.navbar {
    margin-bottom: 0;
    border-radius: 0;
}
footer {
    background-color: #555;
    color: grey;
    padding: 15px;
}
.forContact{
    margin-top: 30px;
}
.forMsg{
    width: 100%;
    height: 350px;

}
.txtMsg{
    height: 300px !important;
    margin-top: 30px;
}
.c1{

    height: 500px;
}
.forSend{
    width: 100%;
}
.btnSend{
    width:200px;
    height: 40px;
    font-size: 20px;
    float: right;
}
.head-logo{
    font-family: Courier New,Lucida Console !important;
    font-size: 2.5em !important;
    font-weight: bold !important;
    line-height: 1.4 !important;
    color: #cc1212 !important;
    margin-top: -13px !important;
}