.navbar {
    margin-bottom: 0;
    border-radius: 0;
}
footer {
    background-color: #f2f2f2;
    padding: 25px;
    color: grey;
}
.create-question-pnl{

    text-align: center !important;
}
.create-question-pnl textarea{
    outline: none;
    min-height: 100px;
    max-height: 100px;
    min-width: 300px;
    max-width: 300px;
    padding: 10px;
    font-family: sans-serif;
    font-weight: 500;
    border-radius: 4px;

}
.create-question-pnl button{
    width: 150px;
}
.question-pnl{
    border: 2px solid lightblue;
    width: 400px;
    background-color: whitesmoke;
    padding: 4px;
    border-radius: 4px;
    margin-bottom: 6px;
}
.que-header{
    text-align: left;
}
.que-header span{
    float: right;
    margin-right: 15px !important;
    margin-top: -15px !important;

}
.que-header i{
    font-size: 20px;
}
.que-content{
    padding-bottom:8px ;
    border-bottom: 1px solid lightblue;
    text-align: left;
}
.comment-btn{
    float: left;
    font-size: 26px;
    cursor: pointer;
    margin: 4px;
    color: lightblue;
}
.que-comments textarea{
    max-width: 370px;
    min-width: 370px;
    max-height: 30px;
    min-height: 30px;
    padding: 4px;
    outline: none;
    border-radius: 2px;
}
.que-comments p{
    font-size: 14px;
    font-family: Trebuchet MS;
    text-align: left;
}
.comments-content{
    height: 40px !important;
    border-bottom: 1px solid lightblue;
    padding-bottom: 6px !important;
}
.vote-btn{
    cursor: pointer !important;
}
.head-logo{
    font-family: Courier New,Lucida Console !important;
    font-size: 2.5em !important;
    font-weight: bold !important;
    line-height: 1.4 !important;
    color: #cc1212 !important;
    margin-top: -13px !important;
}
.btn-post{
    width: 300px;
    margin-bottom: 10px;
}
