.navbar {
    margin-bottom: 0;
    border-radius: 0;
}
/* Set height of the grid so .sidenav can be 100% (adjust if needed) */
.row.content {height: 530px;}

/* Set gray background color and 100% height */
.sidenav {
    background-color: #f1f1f1;
    height: 100%;
}

/* Set black background color, white text and some padding */
footer {
    background-color: #555;
    color: white;
    padding: 15px;
}
.imgAbout{
    height:420px;
    width:420px;
    margin-top: 40px;
}
.infoText{
    width: 800px;
    font-family:courier;
    font-size: 18px;
    text-align: justify;
}
.head-logo{
    font-family: Courier New,Lucida Console !important;
    font-size: 2.5em !important;
    font-weight: bold !important;
    line-height: 1.4 !important;
    color: #cc1212 !important;
    margin-top: -13px !important;
}