.navbar {
    margin-bottom: 0;
    border-radius: 0;
}
footer {
    background-color: #f2f2f2;
    padding: 25px;
    color: grey;
}
.content{
    border: 2px solid lightblue;
    width: 400px;
}
.grid-row{
    border-bottom: 2px solid lightblue;
    padding: 10px;
}
#preview{
    width: 150px;
    height: 150px;

}
input[type=radio] {
    width: 16px;
    height: 16px;
}
.head-logo{
    font-family: Courier New,Lucida Console !important;
    font-size: 2.5em !important;
    font-weight: bold !important;
    line-height: 1.4 !important;
    color: #cc1212 !important;
    margin-top: -13px !important;
}


